/* import all third party assets here.*/
@import url(../assets/drunken-parrot-flat-ui-master/bootstrap/css/bootstrap.css);
@import url(../assets/drunken-parrot-flat-ui-master/css/drunken-parrot.css);
.fixed-0 {
  position: fixed;
  top: 0; }

.bg-yellow {
  background: #fbdd89; }

.bg-black {
  background: #364347; }

.color-white {
  color: #ffffff; }

.color-black {
  color: #364347; }

.height-300 {
  height: 300px; }

.width-70 {
  width: 70%; }

.width-50 {
  width: 50%; }

.width-full {
  width: 100%; }

.center {
  margin: 0px auto; }

ul.width-70 {
  white-space: nowrap; }

ul.width-70 li {
  display: inline-block; }

.font-light {
  font-family: SourceSansProExtraLight, Helvetica, Arial, sans-serif; }

.big-font {
  font-size: 30px; }

.medium-font {
  font-size: 24px; }

.regular-font {
  font-size: 20px; }

.extra-large-font {
  font-size: 40px; }

.b-r-0 {
  border-radius: 0px;
  -webkit-appearance: none; }

.m-t-30 {
  margin-top: 30px; }

.m-b-0 {
  margin-bottom: 0px; }

.m-b-15 {
  margin-bottom: 15px; }

.m-b-30 {
  margin-bottom: 30px; }

.p-b-20 {
  padding-left: 20px; }

.p-t-17 {
  padding-top: 17px; }

.m-t-200 {
  margin-top: 200px; }

.m-b-200 {
  margin-bottom: 200px; }

html {
  position: relative;
  min-height: 100%; }

body {
  /* Margin bottom by footer height */ }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */ }
