---
layout: default
---

{% for post in site.posts %}
    
<div class="row-fluid">
    <div class="height-300">
        
        <div class="font-light extra-large-font">
                <a class="" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </div>
        
        <span class="font-light medium-font">{{ post.excerpt }} </span>
        
        <div>
            {% for category in post.categories %}
                
            <span class="label label-primary">{{ category }}</span>
            {% endfor %}
        </div>
    </div>
</div>
{% endfor %}