---
layout: default
---

{% for post in site.posts %}
    
<div class="row-fluid">
    <div class="span12 summarized-post">
        
        <div class="post-link-wrapper">
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </div>
        
        <span class="excerpt">{{ post.excerpt }} </span>
        
        <div class="categories">
            {% for category in post.categories %}
                <span>{{ category }}</span>
            {% endfor %}
        </div>
    </div>
</div>
{% endfor %}