<header class="site-header">
    
    <nav class="navbar navbar-inverse b-r-0" role="navigation">
        <div class="container-fluid width-70">
            <div class="navbar-header " style="height: 74px; width: 500px;">
                <div class="p-t-17">
                    <a class="font-light big-font" href="/">
                        {{ site.title }}                     
                    </a>
                </div>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse-2">
                <ul class="nav navbar-nav navbar-right navbar-icons">
                    <li>
                        <a href="/destinations.html">
                            <span class="fa-map-marker fa"></span><span class="hidden-lg">Destinations</span>
                        </a>
                    </li>
                    <li>
                        <a href="/theCrew.html">
                            <span class="fa-users fa"></span><span class="hidden-lg">The Crew</span>
                        </a>
                    </li>
                    <li>
                        <a href="/tipsFaqs.html">
                            <span class="fa-lightbulb-o fa"></span><span class="hidden-lg">Tips/FAQs</span>
                        </a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    
    <ul class="nav nav-pills width-70">
        {% if site.instagram_username %}
          
        <li>
            <a href="https://instagram.com/{{ site.instagram_username }}" target="_blank">
                {% icon fa-instagram fa-2x %}
            </a>
        </li>
        {% endif %}
        
        {% if site.facebook_username %}
          
        <li>
            <a href="https://facebook.com/{{ site.facebook_username }}" target="_blank">
                {% icon fa-facebook-square fa-2x %}
            </a>
        </li>
        {% endif %}
        {% if site.twitter_username %}
          
        <li>
            <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
                {% icon fa-twitter-square fa-2x %}
            </a>
        </li>
        {% endif %}
        
          
        <li>
            <a href="/contactUs.html">
                {% icon fa-envelope-o fa-2x %}
            </a>
        </li>
    </ul>
</header>