//
// Add Custom Styles here.
// --------------------------------------------------

@import "variables";

.bg-yellow {
    background: $yellow;
}

.bg-black {
    background: $black;
}

.color-white {
    color: $white;
}

.color-black {
    color: $black;
}

.width-70 {
    width: 70%;
}

.width-50 {
    width: 50%;
}

.width-full {
    width: 100%;
}

.center {
    margin: 0px auto;
}


ul.width-70 {
    white-space: nowrap;
}

ul.width-70 li {
    display: inline-block;
}

.font-light {
    font-family: $font-light;
}

.big-font {
    font-size: 30px;   
}

.b-r-0 {
    border-radius: 0px;
    -webkit-appearance: none;
}

//margin related stuff.
.m-t-30 {
    margin-top: 30px;   
}

.m-b-0 {
    margin-bottom: 0px;
}

.m-b-15 {
    margin-bottom: 15px;
}

.p-t-17 {
    padding-top: 17px;  
}