//
// Add Custom Variables here.
// --------------------------------------------------

// index.html variables
$font-light: SourceSansProExtraLight, Helvetica, Arial, sans-serif;

//colors
$yellow: #fbdd89;
$white: #ffffff;
$black: #364347;