//
// Add Custom Variables here.
// --------------------------------------------------

// index.html variables
$general-width:         70%;
$post-link-font-size:   20pt;

$excerpt-font-size:     12pt;
$excerpt-font-color:    #615D63;

$categories-font-size: 10pt;